.index-body{
    display: flex;
    flex-direction: column;
    margin: 0 12% 0.8% 12%;
}

.index-body .banner {
    background-image: url("../assets/index/index_1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5% 30% 5% 12%;
}

.index-body .banner h1{
    font-size: 26px;
    color: white;
}

.index-body .banner p{
    font-size: 16px;
    color: white;
}

.index-body .services a{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 0;
    color:black;
}

.index-body .services li img {
    width: 50px;
    padding: 3px;
    border: 2px solid #598933;
    border-radius: 8px;
}

.index-body .services li p{
    margin: 0 0 0 10px;
    padding: none;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  
    /* Add a fading effect using mask */
    -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-item {
    width: 25%; /* Adjust for visible items */
    flex-shrink: 0;
    text-align: center;
    background-color: lightgray;
    padding: 20px;
    box-sizing: border-box;
  }