<div class="contact-top-bar">
    <div class="socials">
        <ul>
            <li><a href="https://www.instagram.com/lla.engenharia/" target="_blank"><i class="fa-brands fa-instagram" style="color: #598933"></i></a></li>
            <li><a href="https://www.facebook.com/llaengenhariaeassessoria" target="_blank"><i class="fa-brands fa-facebook"style="color: #598933"></i></a></li>
        </ul>
    </div>

    <div class="vertical-line"></div>

    <div class="text">
        
        <ul>
            <li>Fale conosco &nbsp</li>
            <li>
                <i class="fa-solid fa-phone fa-sm"></i> &nbsp<em>(45) 3559-1433</em>
            </li>
            <li>&nbsp</li>
            <li>
                <i class="fa-brands fa-whatsapp"></i> &nbsp<em>(45) 9 9814-9524</em>
            </li>
            <li>&nbsp</li>
            <li>
                <em><a href="mailto:ambiental@llaengenharia.com.br">ambiental@LLAengenharia.com.br</a></em>
            </li>
        </ul>
    </div>
</div>
