<footer>
    <div class="footer-contents">
        <div class="footer-logo">
            <img src="../assets/images/logo_lla.png" width="150px">
        </div>
        
        <div class="footer-location">
            <h1>Nossa Localização</h1>
            <div class="horizontal-line"></div>
            <p>Rua Floresta, 1800, Centro.<br> Itaipulândia, Paraná.</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3555.4706930888774!2d-54.302716924686464!3d-25.138840177748552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f41b01cbf03fcd%3A0xd0b844f92962cdf!2sLLA%20ENGENHARIA%20E%20ASSESSORIA%20AMBIENTAL%20LTDA!5e1!3m2!1spt-BR!2sbr!4v1732403245532!5m2!1spt-BR!2sbr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>

        <div class="footer-call-to-action">
            <h1>Seja Nosso Cliente</h1>
            <div class="horizontal-line"></div>
            <p>Conte-nos sobre sua empresa e torne-se nosso cliente.</p>
            <div class="contacts">
                <ul>
                    <li><i class="fa-solid fa-phone fa-sm"></i> &nbsp<em>(45) 3559-1433</em></li>
                    <li><i class="fa-brands fa-whatsapp"></i> &nbsp<em>(45) 9 9814-9524</em></li>
                    <li><em><a href="mailto:ambiental@llaengenharia.com.br">ambiental@LLAengenharia.com.br</a></em></li>
                </ul>
                
                <ul class="contacts-socials">
                    <li><a href="https://www.instagram.com/lla.engenharia/" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a></li>
                    <li><a href="https://www.facebook.com/llaengenhariaeassessoria" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></a></li>
                </ul>
            </div>

        </div>

    </div>

</footer>