<nav class="navbar">
    <div class="navbar-logo">
        <a href="index.html">
            <img src="../assets/images/logo_lla.png" width="150px" height=auto/></a>
    </div>

    <button class="navbar-toggle">☰</button>
    <div class="navbar-menu">
        <button class="close-btn">X</button>

        <div class="dropdown">
            <button class="dropbtn">Quem Somos
                <span class="arrow"></span>
            </button>
            <div class="dropdown-content">
                <a href=" ">História</a>
                <a href=" ">Diretoria e Corpo Técnico</a>
                <a href=" ">Missão, Visão e Valores</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Nossos Serviços
                <span class="arrow"></span>
            </button>
            <div class="dropdown-content">
                <a href=" ">Consultoria Ambiental</a>
                <a href=" ">Gestão Ambiental Urbana</a>
                <a href=" ">Inventário Florestal</a>
                <a href=" ">Limpeza de Faixa</a>
                <a href=" ">Limpeza de Subestação</a>
                <a href=" ">Plano Municipal de Arborização</a>
                <a href=" ">Poda de Árvores</a>
                <a href=" ">Reuso de Efluentes Industriais</a>
                <a href=" ">Serviços Florestais</a>
                <a href=" ">Serviços Geológicos</a>
            </div>
        </div>

        <a href="">Clientes e Segmentos Atendidos</a>
        <a href="">Contato</a>
    </div>
</nav>